body{
background-color: lightgray;
margin: 0;
font-family:Arial, Helvetica, sans-serif;
}

.navbar{
margin-top: 30px;
padding: 25px;
background-color: lightblue;
border:2px solid black;
border-radius: 30px;
margin-bottom: 15px;
margin-left: 50px;
margin-right: 50px;
}

.hero{
background-color: lightcoral ;
border:2px solid black;
border-radius: 20px;
margin-bottom: 15px;
margin-left: 50px;
margin-right: 50px;
}

.tabl{
margin-top: 20px;
width: 260px;
border-collapse: collapse;
margin-bottom: 20px;
margin-left: auto;
margin-right: auto; 
}

th{
text-align: left;
background-color: white ;
border: 1px solid black;
padding: 10px;
}


td{
padding: 10px;
border: 1px solid white;
}

.subsection{
background-color: lemonchiffon ;
border:2px solid black;
border-radius: 20px;
margin-bottom: 15px;
margin-left: 50px;
margin-right: 50px;
padding: 10px;

}

.footer{
background-color: lightseagreen;
border:2px solid black;
border-radius: 25px;
margin-left: 50px;
margin-right: 50px; 
margin-bottom: 40px;
padding: 10px;
}

    

