* {
    margin: 0;
    padding: 0;
    font-size: large;
    background-color: lightgray;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
    margin: 15px;
   
    width: 50%;
    
  }
  form, label{
      background:fixed;
      margin: 10px;
  }
 
.header {
    display: flex;
    align-items: center;
    margin: 40px; 
    height: 70px;
    flex-basis: 100px;
    background-color: lightblue;
    border-radius: 15px;
    border: 1px solid black;

}
.table{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px; 
    height: auto;
    flex-basis: 100px;
    background-color: lightcoral;
    border-radius: 15px;
    border: 1px solid black;
}
.items{
    display: flex;
    align-items: center;
    margin: 40px; 
    height: auto;
    flex-basis: auto;
    background-color: lemonchiffon;
    border-radius: 15px;
    border: 1px solid black;
}
.copyright{
    display: flex;
    align-items: center;
    margin: 40px; 
    height: 65px;
    flex-basis: auto;
    background-color: lightseagreen;
    border-radius: 15px;
    border: 1px solid black;
    margin-top: 3px;

}

hr{
    width: 420px;
}