*{
    margin: 0px;
    //padding: 0px;

}

body{
    
    font-family:Arial, Helvetica, sans-serif ;
    background-color: #0072e1;
}

.navbar{
    background-color: white;
    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        #flex-container{
            display: flex;
            margin-right: 20px;
        }

    }
}

.middle-section{
    background-color: lightgray;
    padding-top: 175px;
    padding-bottom: 175px;
    margin-left: auto;
    margin-right: auto;
    
   
    
    
    .where{
        margin: auto;
        
        background-color: white;
        border-radius: 10px;
        
        width: 500px;
        

        p{
            font-weight: bold;
            padding: 20px;
            //padding: 20px 1px 20px 1px;
        }
    }
}

.bottom-section{
    .flex-container{
        display: flex;
        justify-content: space-between;     
    }
}