* {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: gray;
}

.nav {
  background-color: white;
}

.submit {
  background-color: lightgray;
  padding: 50px;
  text-align: center;
}

input {
  border-radius: 5px;
  border-color: lightgray;
  padding: 5px;
}

input[type="submit"] {
  background-color: #0072e1;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 5px;
  margin: 5px;
  color: white;
}
.footer {
  text-align: center;
  color: white;
}
