
 body{
     background-color: white;
 }
 #logo {
  
 }
 #section1 {
   
    margin-top: 50px;
    padding: 100px;
    background-color: lightgray;
   
}
#click {
    background-color: blue;
    border: 25px;
    width: 420px;
    overflow: hidden;
    background: padding-left: 420px ;
    padding: 10px 5px;
    color: white;
    padding-left: 420px;
    
}
#copyright { 
    color:white;
    padding: 170px;
    background-color: gray;  
}
#name {
  padding-left: 300px;
}
#code {
    padding-left: 302px;
}
#rights {
    padding-left: 300px;
    margin-top: 10px;
   

}
