* { 
 
    margin: auto;
    padding: 0px;
    font-size: large;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;    
    background-color: gray;
}

#nav {
    background-color: white
}
#form {
    background-color: lightgray
}

#form-table {
    background-color: lightgray;
    padding: 110px;
}

#form-table tr td {
    padding: 5px;    
    background-color: lightgray;
}

#form-table button {
    color: white;
    border-radius: 8px;
    background-color: #116dc9;
    padding: 8px;
    border: 1px solid lightgray;
}

#form-table input {
    border-radius: 8px;
    padding: 8px;
    border: 1px solid rgb(26, 25, 25);
    background-color: rgb(245, 239, 239);
}
footer {
    margin-bottom: 10px;
    padding-top: 10px;
    align-items: center;
    background-color: gray;
    color: white;
}