form{
    background-color: lightgray;
    text-align: center;
    padding: 40px;
    margin: 0px -10px ;
}
.foot{
    background-color: gray;
    text-align: center;
    padding-bottom: 250px;
    color: white;
    margin: 0px -10px;
    padding-top: 5px;
}
input[type=submit]{
    background-color: #0072e1;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 5px;
    margin: 10px 0px;
    color:white;
}