* {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
nav {
  background-color: black;
}
img {
  margin-left: 30px;
}
.flex-container {
  display: flex;
  background-color: #ffcdd2;
  height: 500px;
  flex-direction: column;
}
.container-1 {
  font-size: 400%;
  text-align: center;
  margin-top: 100px;

  font-weight: bold;
}
#premium {
  color: #d83519;
}

.container-2 {
  text-align: center;
  margin-top: 100px;
}
.input-click {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border-radius: 30px;
  padding: 1%;
}

#trial-click {
  border: 1px solid #d83519;
  background-color: #d83519;
  color: #ffcdd2;
}
.container-3 {
  text-align: center;
  margin-top: 5%;
  font-family: "Times New Roman", Times, serif;
  color: #d83519;
  padding: 5%;
}

#flex-second {
  background-color: #2941ab;
}
#music, #releases {
  color: #1ed760;
}
#releases {
  font-size: 200%;
}
#player-click {
  border: 1px solid #1ed760;
  background-color: #1ed760;
  color: white;
}

footer {
  background-color: black;
}
