#spotifylogo {
    background-color: black;

}
#section1 {
    padding: 50px;
    background-color: #ffcdd2;
}
#section2 {
    padding: 100px;
    background-color: #2941ab;
}
#trial {
    background-color: #d83519;
}

#webplayer {
    background-color: #1ed760;
}
#section3 {
    background-color: black;
}

