*{
    font-family: arial, sans-serif;
}

.usernameInfo{
    background-color: lightgray;
    padding: 40px;
    text-align: center;
    margin:0px -10px;
    
}
.copyright{
    background-color: gray;
    padding-bottom:  50px;
    padding-top: 5px;
    text-align: center;
    margin:0px -10px;
}