* {
    
    font-family: 'Arial, Helvetica, sans-serif';

    line-height: 40px;
  }

  
body {
    background: white;
    font-size: large;
  }

header {
    background-color: white;
    height: 100px;
    padding: 10px;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 100px;
    margin: 0px;
}

footer {
    background: #0072e1;
    text-decoration: none;
    color: darkgrey;
    padding-top: 10px;
    padding-bottom: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

 
.middle {
    background: lightgrey;
    padding:100px ;
    text-align: center;
    font-weight: bold;

}


.box {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    text-align: center;
    padding: 1.5em;
    margin: 5px; 
    border-radius: 30px;
    border: 2px solid black;
    display: inline-block;

}

.foot {


}