
*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 150px;
   
}
.flex-container-1{
    
   
    display: flex;
    flex-direction: row;
    
}


.links{
    margin-left: auto;
    padding: 20px;
    padding-top: 40px;
    
}
a{
    text-decoration: none;
    color: black;
    font-size: 150%;
    
    
}

.flex-container-2{
    border-top: 2px solid gray;
   display: flex;
    flex-direction: column;
    height: 700px;
    background-color: lightgray;
    align-items: center;
    
}
.flex-items{

   margin-top: 200px;
   border: 1px solid gray;
   background-color: white;
   border-radius: 30px;
   padding: 50px;
   font-size: larger;
   font-weight: bold;
}

#container-1{
    text-align: center;
    margin-bottom: 30px;
}
.flex-container-3{
    display: flex;
    flex-direction: row;
    background-color: rgb(21, 125, 185);
    height: 25vh;

}

.items-3{
    margin-left: auto;
    margin-right: auto;
    color: rgb(151, 151, 151);
    font-weight: bold;
    margin-top: 20px;
}



