* {
    margin: 0px;
    padding: 0px;
    font-size: large;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
main{
    background-color: lightgray;
    display: flex;
    justify-content: center;
}
.section{
    margin-top: 200px;
    margin-bottom: 200px;
}
.message{
    border-radius: 25px;
    border: 1px solid black;
    background-color: white;
    padding: 50px;   
}
.message1{
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    color: rgb(59, 59, 59);
}
.message2{
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    color: rgb(59, 59, 59);
}

#footer{
    background-color: blue;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    color: white;
}