
body {
background-color: white; 
border-style:solid;
border-color: black;}
head{
    min-height: fit-content;
}

#navbar { 
display:flex; 
align-items: flex-end;
border-bottom: 2px solid black;
font-family: Arial, Helvetica, sans-serif;
justify-content: space-between;
}

.flex-container1{
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    height:400px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: larger;
    justify-content: space-around;
      text-align: center;
}

.together{
    background-color: white;
    border-style: collapse;
    height: 100px;
    padding: 30px;
    border-radius: 20px;
    justify-content: space-between;
    text-align: center;
}

.flex-container2{
    display: flex;
    background-color: rgb(72, 121, 212);
    height: 150px;
    justify-content: space-between;
font-family: Arial, Helvetica, sans-serif;
color: rgb(218, 212, 212);
font-size: large;
padding-top: 20px;
}

.flex-container3{
    flex-direction: row;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content:flex-end;

    align-content: center;
    line-height: 100px;
}

.tools{
    text-align: center;
    justify-items: center;
    justify-content: space-between;
    align-content: center;
}
