*{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 150px;
    height: auto;

}
.flex{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: white;
}
.nav{
   margin-left: auto;
}
.row{
    background-color: lightslategray;
    padding: 10px;
}
[class *="col"]{
    background-color: white;
    color: black;
    border: 20px solid lightslategray;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.foot{
    background-color: skyblue;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    color: white;
}
