.logo{
    width: 100px;
    height: 100px;
}
.links{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 2px;
    justify-content: space-between;
}
li{
    margin-left: 40px;
}
.content{
    display: flex;
    background-color: lightgray;
    padding: 10px;
}
ul{
    padding-top: 10px;
    background-color: white;
}
.bird{
    background-color: white;
    align-self: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}
footer {
    padding-top: 10px;
    color: lightgray;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #0072e1;
    height: 500px;
}


    