body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  background-color: white;
  display: flex;
  align-items: center;
}

.logo {
  max-width: 100px;
  height: auto;
}

.nav {
  margin-left: auto;
  padding-right: 10px;
}

.main {
  display: flex;
  background-color: lightgray;
  padding: 10px;
  border-top: 1px solid black;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
[class*="col"] {
  background-color: white;
  border: 10px solid lightgray;
  height: 300px;
}

.list {
  padding-left: 10px;
  width: 300px;
  margin-right: 90px;
}

.bird-image {
  display: block;
  height: 240px;
  width: 300px;
  padding-left: 50px;
  padding-top: 40px;
  margin-left: 45px;
  margin-right: 45px;
}

footer {
  display: flex;
  background-color: #0072e1;
  padding: 160px;
  color: lightgray;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.last-words {
  display: flex;
  flex: 1px;
}
