.body{ 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 30px;
    }

.navbar .container-fluid{
    display: flex;
    background-color: white;
    //color: black;
    //height: 100 px;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    }

    .navbar img{
        max-width: 70px;
    }

    .navbar .information{
        margin-right: 10px;
    }

main .container-fluid{
    display: flex;
    background-color: lightgray;
    padding: 20px 20px 50px 20px;
    margin-top: -7px;
    justify-content: space-around;
    //padding: 50px;
    //margin: 200px;
    }

main .textbox{
    background-color: white;
    padding-right: 20px;
    margin-left: 15px;
}

img{
    margin-right: 15px;
}

footer ul{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    color: lightgray;
    font-size: 12px;
    margin: -12px;
    padding-top: 7px;
    padding-bottom: 230px;
    //padding-left: 
    padding-right: 10px;
    list-style: none;
}

