*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: lightgray;
}
img{
    width: 150px;
    height: auto;
}
.flex{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}
.nav{
   margin-left: auto;
}
.whole{
    background-color: lightgray;
}
.section{
    border: soild white;
    background-color: white;
}
.foot{
    background-color: skyblue;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    color: white;
}
