.logo{
    width: 100px;
    height: 100px;
}
header{
    border-bottom: 1px solid black;
}
.links{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 2px;
    justify-content: space-between;
}
li{
    margin-left: 40px;
}
.content{
    background-color: lightgray;
    /* margin-top: 10px; */
    padding: 10px;
}
ul{
    background-color: white;
}

.flexcontainer-bird {
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer{
    padding-top: 5px;
    color: lightgray;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #0072e1;
    height: 500px;
}


    