:root{
    --light-pink-color: #ffcdd2;
    --red-color: #d83519;
    --blue-color: #2941ab;
    --green-color: #1ed760;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.navbar, .footer{
    background-color: black;
    img{
        width: 110px;
        margin-left: 25px;
        padding: 5px;
    }
}
input{
    font-weight: bold;
    border: 0ch;
    border-radius: 20px;
    padding: 10px;
    color: white;
}
h1{
    font-size: 40pt;
}
.Free-Trial{
    background: #ffcdd2;
    padding: 200px 5px;
}
.free-trial-button{
    background: #d83519;
}
.Looking-For-Music{
    padding: 200px 5px;
    background: #2941ab;
}
.open-web-player{
    background: #1ed760;
    margin-top: 20px;
}
.container-web-player{
    color: #1ed760;
    padding-top: 20px;
    text-align: vertical;
}
.premium{
    color: #d83519;
    padding: 10px 5px;
}
.terms{
    padding-top: 40px;
}
.container-center{
    text-align: center;
}